{% load static %}
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- 引入monikai.css -->
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
{#    <link href="https://unpkg.com/@primer/css@^20.8.3/dist/primer.css" rel="stylesheet" />#}
    <link href="{% static 'primer/primer.css' %}" rel="stylesheet" />
</head>

<body>
    {% include 'header.html' %}
    <div id="wrapper">
        {% block content %}{% endblock content %}
        <div id="push"></div>
    </div>

    {% include 'footer.html' %}
    <script src="{% static 'jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/all.min.css">


    <script src="{% static 'editormd/editormd.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'editormd/css/editormd.css' %}" />
    {% include 'back_to_top_func.html' %}
    {% block script %}{% endblock script %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #wrapper {
            min-height: 100%;
            margin-bottom: -60px;
        }

        #footer,
        #push {
            height: 60px;
        }
    </style>
</body>
<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editor", {
            // width  : "100%",
            // height : "100%",
            path   : "{% static 'editormd/lib/' %}",
            height:'350px',
            syncScrolling : "single",
            emoji:true,
            imageUpload: true, //启动本地图片上传功能
            watch:true,
            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp","zip","rar"],
            imageUploadURL : "% media 'mdimg/%Y-%m-%d/ %}", //文件提交请求路径
            saveHTMLToTextarea : true, //注意3：这个配置，方便post提交表单
        });
    });
</script>
</html>