{% load static %}
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- 引入monikai.css -->
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
</head>

<body>
    {% include 'header.html' %}
    <div id="wrapper">
        {% block content %}{% endblock content %}
        <div id="push"></div>
    </div>

    {% include 'footer.html' %}
    <script src="{% static 'jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/all.min.css">
    {% include 'back_to_top_func.html' %}
    {% block script %}{% endblock script %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #wrapper {
            min-height: 100%;
            margin-bottom: -60px;
        }

        #footer,
        #push {
            height: 60px;
        }
    </style>
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const comment = document.querySelector('#comment')
    if (comment) {
      const utterances = document.createElement('script')
      utterances.setAttribute('src', 'https://utteranc.es/client.js')
      utterances.setAttribute('repo', 'TBHLLL/My_Blog_Talk')
      utterances.setAttribute('issue-term', 'pathname')
      utterances.setAttribute('theme', 'preferred-color-scheme')
      utterances.setAttribute('crossOrigin', 'anonymous')
      utterances.setAttribute('async', 'true')
      comment.appendChild(utterances)
    }
  })
</script>
</html>