<!-- 定义导航栏 -->
<div class="Header">
    <div class="Header-item">
        <a href="/" class="Header-link f4 d-flex flex-items-center">
        <svg height="32" class="octicon octicon-mark-github mr-2" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
            <span>TBH的Blog</span>
        </a>
    </div>
    <div class="Header-item">
        <input type="search" class="form-control Header-input" />
    </div>
    <div class="Header-item">
        <a href="{% url 'article:article_list' %}" class="Header-link">
            文章
        </a>
    </div>
    {% if user.is_authenticated %}
    {% if user.id == 4 %}
    <div class="Header-item mr-0">
        <img class="avatar" height="20" alt="@octocat" src="{% static 'img/TBH.png' %}" width="20" />
    </div>
    {% endif %}
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="#">我的博客</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
          <li class="nav-item">
              <!-- 改写了这里的 href -->
              <a class="nav-link" href="{% url 'article:article_list' %}">文章</a>
          </li>
          <!-- Django的 if 模板语句 -->
          {% if user.is_authenticated %}
            <!-- 如果用户已经登录，则显示用户名下拉框 -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href='{% url "userprofile:edit" user.id %}'>个人信息</a>
                    {% if user.id == 4 %}
                    <a class="dropdown-item" href='/admin'>后台管理</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'article:article_create' %}">写文章</a>
                    <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
                    <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                </div>
            </li>
        <!-- 如果用户未登录，则显示 “登录” -->
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
            </li>
        <!-- if 语句在这里结束 -->
          {% endif %}
          {% if user.is_authenticated %}
          <form
            style="display:none;"
            id="user_delete"
            action="{% url 'userprofile:delete' user.id %}"
            method="POST"
          >
              {% csrf_token %}
            <button type="submit">发送</button>
          </form>
          <script>
                function user_delete() {
                    // 调用layer弹窗组件
                    layer.open({
                        title: "确认删除",
                        content: "确认删除用户资料吗？",
                        yes: function(index, layero) {
                            $('form#user_delete button').click();
                            layer.close(index);
                        },
                    })
                }
            </script>
            {% endif %}
      </ul>

    </div>

  </div>
</nav>